body{
  font-family:Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity:0.9;
  text-align:center;
}
.flex-container{
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
}
a{
  color:seashell;
}
/* Header Section*/

header {
  display: flex;
  align-items:center;
  position:fixed;
  z-index:2;
  width:100%;
  height:69px;
  border-bottom: 1px solid seashell;
  background-color:black;
  top:0px;
}

.logo img {
  display:flex;
  height: 50px;
  padding-left:10px;
}
nav{
  text-align:right;
  flex-grow:1;
  padding-right:10px;
}
nav span{
  display: inline-block;
  padding:20px 10px;
  text-decoration:underline;
  border-width:1px;
  border-style:dashed;
  border-radius:20px;
}

/* Mission Section */
#Mission{
  height:700px;
  width:1200px;
  flex-direction:column;
  align-items:center;
  position:relative;
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  border-radius:10px;
  margin:auto;

}
#Mission .content{
  top:70px;
  background-color:black;
  opacity:0.8;
  padding-right:20px;
  padding-left:20px;
  border:1px solid seashell;
  border-radius:20px;
}
/* Store Section */
#Store{
  width:1000px;
  margin:auto;
  padding:50px 0px;
}
.item img{
  display:block;
  height:200px;
  margin:10px;
  border-radius:10px;
  border:1px solid seashell;
}
/* Location Section*/
#Locations{
  height:500px;
  width:1200px;
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  align-items:center;
  margin:auto;
  padding-top:70px;
  border-radius:10px;
}
#Locations .location{
  width:300px;
  margin:15px 20px;
  opacity:1;
  background-color:black;
  border:1px solid seashell;
  border-radius:10px;
}
